<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <%- messages() %>
  <form action="/account/login" method="post" id="loginForm">
    <label id="email" for="account_email">Email</label>
    <input type="email" id="account_email" name="account_email" 
    required
    >

    <label id="acct_pass"     for="account_password">Password</label>
    <input 
      type="password" 
      id="account_password" 
      name="account_password" 
      required
      pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]).{12,}$"
      >

  
    <button id="button" type="submit">Login</button>
    <p id="sign">Not a member? <a href="/account/register">Sign-Up</a></p>
  </form>
</body>
</html>